<template>
	<div>
		<Form 
			:product='product'
			@update="updateProduct" />
		<button @click="cancel"> Cancel </button>
	</div>
</template>

<script>	
	export default{
		props:['product'],
		components:{
			Form:() => import("./form.vue")
		},
		methods:{
			cancel(){
				this.$emit('cancelForm', false)
			},
			updateProduct(){
				// let data = JSON.parse(JSON.stringify(this.product))
				// this.$emit('updateList', data)

				// setTimeout(() =>{
				// 	this.product.name = ""
				// 	this.product.price_per_unit = ""
				// 	this.product.available = true
				// }, 1200)
			}
		}
	}
</script>