<template>
	<div>
		<form @submit.prevent>
			<label for="name"> Name of the product
				<input type="text" v-model="product.name">
			</label>
			<label for="number"> Price per unit
				<input type="number" v-model="product.price_per_unit">
			</label>
			<label for="available"> Product availability
				<input type="text" v-model="product.available">
			</label>
			<input 
        type="file" 
        id="attach_picture" 
        name="attach_picturee" 
        @input="IconChange" 
        accept=".xlsx,.xls,image/*,.doc,.docx,.ppt,.pptx,.pdf"
        ref="form">
			<button type="submit" @click="submit" v-if="!loading"> Submit</button>
			<button type="submit" v-else> Submitting...</button>
		</form>
	</div>
</template>

<script>
	export default{
		props: ['product'],
		data(){
			return{
				loading: false,
				image: {}
			}
		},
		methods:{
			submit(){
				this.loading = true
				setTimeout(() =>{
					this.$emit('submit', this.image)
					this.loading = false
				}, 1200)
			},
			IconChange(){
				let input = this.$refs.form
        this.image = input.files[0]
			}
		}
	}
</script>