<template>
  <div>
		<div v-if="!apiLoading">
			<h4> List of products  </h4>
			<input type="text" v-model="searchKey" placeholder="search key"/>
			<div v-for="(product, index) in availableProducts">
				<!-- <div @click="redirectToProduct(product)"> -->
					<product-card 
						:product="product" 
						:index="index"
						@delete="deleteProduct" />
				<!-- </div> -->
			</div>
			<button @click="enableNewForm"> Add Product </button>
			<NewForm 
				@cancelForm="cancelNewForm"
				@updateList="updateProductList"
				v-if="visibleNewForm" />
			<EditForm 
				:product="currentProduct"
				@cancelForm="cancelEditForm"
			v-if="visibleEditForm" />
		</div>
		<div v-else>
			Loading Data ...
		</div>
		<span> {{counter}} </span>
		<button @click="incrementCounter"> Increment </button> 
		<button @click="decrementCounter"> Decrement </button>
	</div>
</template>

<script>
  import { mapState } from 'vuex'

	export default{
		components:{
			NewForm:() => import("./new.vue"),
			EditForm:() => import("./edit.vue"),
			ProductCard:() => import("./show.vue")
		},	
		data(){
			return{
				searchKey: "",
				currentProduct: {},
				visibleNewForm: false,
				visibleEditForm: false,
				apiLoading: false
			}
		},
		created(){
			this.loadProducts()
		},
		computed:{
			...mapState({
				counter: state => state.count,
				products: state => state.products.products
			}),
			availableProducts(){
				return this.products.filter(product => product.available == true)
			}
		},
		watch:{
			searchKey(val){
				this.products = this.products.filter(product => {
					return val.toLowerCase().split(' ').every(n => product.name.toLowerCase().includes(n))
				})
			}
		},
		methods:{
			loadProducts(){
				this.apiLoading = true
				this.$store.dispatch( 'products/index' )
				.then(response =>{
					this.apiLoading = false 
				}).catch(error =>{
					this.apiLoading = false
				})
			},	
			enableNewForm(){
				this.visibleNewForm = true
			},
			cancelNewForm(val){
				this.visibleNewForm = val
			},
			cancelEditForm(val){
				this.visibleEditForm = val
			},
			updateProductList(data){
				this.products.push(data)
			},
			editProduct(product){
				this.currentProduct = product
				this.visibleEditForm = true
			},
			deleteProduct(index){
				this.products.splice(index, 1)
			},
			redirectToProduct(product){
				this.$router.push(
					{ name: 'productDetail', params: {id: product.id }}
				)
			},
			incrementCounter(){
				this.$store.commit('incrementCount')
			},
			decrementCounter(){
				this.$store.commit('decrementCount')
			}
		}	
	}
</script>