<template>
	<div>
		<Form 
			:product='product'
			@addProduct="addProducts" />
		<button @click="cancel"> Cancel </button>
	</div>
</template>

<script>	
	export default{
		components:{
			Form:() => import("./form.vue")
		},
		data(){
			return{
				product:{
					name: "",
					price_per_unit: "",
					available: true
				}
			}
		},
		methods:{
			cancel(){
				this.$emit('cancelForm', false)
			},
			addProducts(){
				let data = JSON.parse(JSON.stringify(this.product))
				this.$emit('updateList', data)

				setTimeout(() =>{
					this.product.name = ""
					this.product.price_per_unit = ""
					this.product.available = true
				}, 1200)
			}
		}
	}
</script>