<template>
	<div>
		<p> {{product.name}}</p>
		<p> {{product.price_per_unit}} </p>
		<button @click="editProduct(product)" v-if="canAccess('Product', 'Update')"> Edit </button>
		<button @click="deleteProduct" v-if="canAccess('Product', 'Destroy')"> Delete </button>
		<hr>
	</div>
</template>
	
<script>
import RouterValidation from "@/mixins/permissions/routerValidation"

export default{
	mixins: [RouterValidation],
	props: ['product', 'index'],
	data(){
		return{
			permissions: []
		}
	},
	created(){
    let data = localStorage.getItem('permissions')
		this.permissions = JSON.parse(data)
  },
	methods:{
		editProduct(){
			this.$router.push({
				name: 'editProduct',
				params: {id: this.product.id}
			})
		},
		deleteProduct(){
			this.plain.delete(`products/${this.product.id}`)
			.then(response =>{
				this.$emit('delete', this.index)
			})
		}
	}
}
</script>