<template>
	<div>
		<Form 
			:product='product'
			@submit="updateProduct" />
		<button @click="cancel"> Cancel </button>
	</div>
</template>

<script>	
	export default{
		components:{
			Form:() => import("@/components/Products/form.vue")
		},
		created(){
			this.loadProduct()
		},
		data(){
			return{
				product: {}
			}
		},
		methods:{
			loadProduct(){
				this.plain.get(`products/${this.$route.params.id}`)
				.then(response =>{
					this.product = response.data
				})
			},
			cancel(){
				this.$emit('cancelForm', false)
			},
			updateProduct(){
				this.plain.patch(`products/${this.$route.params.id}`, {
					product: this.product
				}).then(response =>{
					this.$router.push({
						name: 'productDetail',
						params: { id: this.product.id }
					})
				})
			}
		}
	}
</script>