<template>
	<div>
		<Form 
			:product='product'
			@submit="addProducts"
    />
		<button @click="cancel"> Cancel </button>
	</div>
</template>

<script>	
	export default{
		components:{
			Form:() => import("@/components/Products/form.vue")
		},
		data(){
			return{
				product:{
					name: "",
					price_per_unit: "",
					available: true
				}
			}
		},
		methods:{
			cancel(){
				this.$emit('cancelForm', false)
			},
			addProducts(image){
				let data = new FormData()
				const params = JSON.stringify(this.product)
				data.append('product[:name]', this.product.name)
				data.append('product[:price_per_unit]', this.product.price_per_unit)
				data.append('product[:available]', this.product.available)
				data.append('product[:image]', image)
				this.plain.post('products',	 data).then(response =>{
					this.$router.push(
						{ name: 'productDetail', params: { id: response.data.id }}
					)
				}).catch(error => {

				})
			}
		}
	}
</script>