<template>
	<div>
		<div v-for="permission in permissions">
		  <p> {{permission.name}}</p>
			<div v-for="rule in permission.rules">
				<label for=""> {{rule.action}} </label>
				<input type="checkbox" :checked="rule.status" > 
			</div>	
		</div>
	</div>
</template>

<script>	
	export default{
		data(){
			return{
				permissions: []
			}
		},
		created(){
			let data = localStorage.getItem('permissions')
			this.permissions = JSON.parse(data)
		}
	}
</script>