<template>
	<div>
		<ProductDetail 
			:product='product'
    />
	</div>
</template>

<script>	
	export default{
		components:{
			ProductDetail:() => import("@/components/Products/show.vue")
		},
		data(){
			return{
				product: {}
			}
		},
		created(){
			this.loadProduct()
		},
		methods:{
			loadProduct(){
				this.plain.get(`products/${this.$route.params.id}`)
				.then(res =>{
					this.product = res.data
				})
			}
		}
	}
</script>