<script>
import RouterValidation from './mixins/permissions/routerValidation'
import Rules from './mixins/permissions/data'

export default{
  mixins: [ RouterValidation, Rules ],
  created(){
    localStorage.setItem('permissions', JSON.stringify(this.permissions))
  },
  computed:{
    product(){
      return this.permissions.find(p => p.name == 'Product')
    }
  },
  methods:{
    findAbout(){
      let x = this.permissions.find(permission => permission.name == 'About')
      alert(JSON.stringify(x))
    },
    allRules(){
      let rules = this.permissions.map(permission => permission.rules)
      console.log(rules.flat())
    },
    anyProductsFalse(){
      if(this.product){
        let x = this.product.rules.some(rule => rule.status == false)
        console.log(x)
      }
      else{
        alert("False")
      }
    },
    allProductsTrue(){
      if(this.product){
        let x = this.product.rules.every(rule => rule.status == true)
        console.log(x)
      }
      else{
        alert("False")
      }
    }
  }
}
</script>

<template>
  <div id="app">
    <header>
      <div class="wrapper">
        <nav>
          <router-link to="/">Products</router-link>
          <router-link to="/about" v-if="canAccess('About', 'Index')">About</router-link>
          <button @click="findAbout"> Find About </button>
          <button @click="allRules">All Rules </button>
          <button @click="anyProductsFalse">Any Products false </button>
          <button @click="allProductsTrue">All Products true </button>
        </nav>
      </div>
    </header>

    <router-view />
  </div>
</template>

<style>

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}
</style>
